form> ul {
    box-sizing: border-box;
    list-style-type: none;
    font-size: 14px;
    margin-bottom: 0;
    /* margin-left: 135px; */
    padding-left: 0;
  }
  input , textarea { width: 337px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    margin-bottom: 8px;
    border: 1px solid #000000;
  }
  .contactanos-boton-form {
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      color: #1e2c51;
      width: 150px;
      height: 35px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #1e2c51;
      border-radius: 2rem;
      text-transform: uppercase;
      text-decoration: none;
      margin-bottom: 3rem;
      margin-top: 2px; }
        .contactanos-boton-form:hover {
        color: white;
        background-color: #1e2c51; }
  
  .texto-form {
    font-size: 16px;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .contactos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.parrafo-alinear{
    width: 337px;
    text-align: justify;
}

.banner-contacto {
    height: 400px;
    margin-bottom: 2rem;
}

.margin-contacto {
    margin-top: 1rem;
}
.texto-recibi{
    
    font-size: 34px;
}
.contenedor-recibi{
    
    width: 694px;
    margin-bottom: 116px 
}
.check-envio {
    width: 73px;
    height: 73px;
    margin-top: 85px;
margin-bottom: 20px; }
.redes-icono-contacto {
        text-decoration: none;
        width: 32px;
        height: 32px;
        /* border-radius: 50%; */
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 19px;
    margin-top: 21px; }
.text-center {
    padding-top:  30px;
    padding-bottom: 20px;
    margin-bottom:  0px ;
} 
.servicios-areas{
    padding-top: 85px;
    padding-bottom: 15px;
}  
.areas{
    font-size: 20px !important;
    padding-bottom: 70px;
} 



@media screen and (min-width: 800px) 
{ 
	.mostrarenmobile{
		display: none;
	}
}

@media (max-width: 1024px) {

    .subir{margin-top: -40px !important;
        margin-bottom: 40px !important;
        } 

    .banner-contacto {
        width: 60%;
        height: 60%;
    }
    .areas{
        font-size: 20px !important;
        padding-bottom: 30px;
    }
    .servicios-areas{
        padding-top: 45px;
        padding-bottom: 10px;
    } 
}

@media (max-width: 768px) {
    .subir{margin-top:-40px !important;
        margin-bottom: 40px !important;
    } 
    .banner-contacto {
        display: none ;
    }
    .areas{
        font-size: 16px !important;
        padding-bottom: 30px;
    } 
    .servicios-areas{
        padding-top: 45px;
        padding-bottom: 10px;
    }
    .redes-contacto{
        display: flex; 
        flex-direction: row;
        align-items: flex-start !important;
        justify-content: flex-start;

        margin-left: 2rem;
    }

    .contactos {
        display: flex;
        align-items: center;
    }

    .mensaje {
        margin-left: -17px;
    }

    .contactos p {
        margin-bottom: 0;
        margin-left: 20px;
    }

    .servicios-areas{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
        }

        .margin-contacto {
        display: flex; 
        text-align: center !important;
        justify-content: center !important;
        margin-top: 1rem;
        }
.grid-contacto{
    display: flex;
flex-direction: column !important;
/* justify-content: start !important; */
justify-content: center;
align-items: center;
}
.redes-icono-contacto {
    text-decoration: none;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: start;
    align-items: left;
    margin-bottom: 19px;
    margin-top: 21px; }
.servicios-areas{
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
}
}
